.button {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    rgba(179, 25, 25, 1) 0%,
    rgba(27, 30, 98, 1) 82%
  );
  border: none;
  transition: background-color 300ms ease-in;

  opacity: 0;
  visibility: hidden;
}
.button:hover {
  background-color: rgb(57, 52, 52);
}
.not-scroll {
  animation: show-top 300ms ease-out forwards;
}

@keyframes show-top {
  form {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
