.scroll {
  margin: 35vh 0;
  height: 30vh;
}
.notScroll {
  margin: 30vh 0;
  height: 40vh;
}
.container {
  margin-left: 95%;
  width: 5%;
  min-width: 35px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: height 600ms ease-in, margin 600ms ease-in;
}
.svgNotScroll {
  color: white;
}
.svgScroll {
  color: rgb(97, 99, 94);
}
.svg {
  cursor: pointer;

  margin: 0 auto;
  transition: color 300ms ease-in;
}
.svg:hover {
  color: red;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 35vh 0;
    height: 30vh;
  }
}
