.card {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 2em;
  background: linear-gradient(
    90deg,
    rgba(27, 30, 98, 1) 0%,
    rgba(179, 25, 25, 1) 100%
  );
  overflow: hidden;
}
.card > h3 {
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide any content that overflows the container */
  text-overflow: ellipsis; /* Display an ellipsis (...) when content overflows */
}
.card > h3:hover {
  text-overflow: none;
  animation: slideShow 5s linear infinite;
}
@keyframes slideShow {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
.title {
  text-align: center;
  font-weight: 900;
}
.container img {
  width: 100%;
  height: 350px;
}

.container button {
  color: white;
  font: inherit;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(179, 25, 25, 1) 0%,
    rgba(27, 30, 98, 1) 82%
  );
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin: 0.8em 0;
}
.container p {
  margin-bottom: 0.1em;
  padding: 0;
}

.quantity {
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font: inherit;
  display: flex;
  align-items: center;
}

.quantity input {
  width: 2em;
  color: white;
  background-color: rgba(61, 61, 66, 0);
}
.quantity label {
  /* width: 1em; */
  font-weight: bold;
  margin-right: 1rem;
}
.error-text {
  color: #cf770b;
  font-size: small;
}
