.card {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 2em;
  background: rgb(27, 30, 98);
  background: linear-gradient(
    90deg,
    rgba(27, 30, 98, 1) 0%,
    rgba(179, 25, 25, 1) 100%
  );
}
.title {
  text-align: center;
  font-weight: 900;
}
.container img {
  width: 100%;
  height: 350px;
}

.synopsis {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.container button {
  color: white;
  font: inherit;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(179, 25, 25, 1) 0%,
    rgba(27, 30, 98, 1) 82%
  );
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin: 0.8em 0;
}
.container p {
  margin-bottom: 0.1em;
  padding: 0;
}
.author {
  font-size: small;
  font-style: italic;
}

.price {
  font-size: 20px;
  font-style: bolder;
}
.synopsis a {
  color: rgb(129, 119, 119);
  text-decoration: none;
}
.synopsis a:hover {
  text-decoration: underline;
}

.quantity {
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font: inherit;

  display: flex;
  align-items: center;
}

.quantity input {
  color: white;
  background-color: rgba(61, 61, 66, 0);
}
.quantity label {
  font-weight: bold;
  margin-right: 1rem;
}
.error-text {
  color: #cf770b;
  font-size: small;
}
