.container {
  background: rgb(27, 30, 98);
  background: linear-gradient(
    90deg,
    rgba(27, 30, 98, 1) 0%,
    rgba(179, 25, 25, 1) 100%
  );
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  color: white;

  padding: 6em 1em 1em 1em;
}

.container h2 {
  margin-left: 1em;
  margin-bottom: 1.5em;
  font-size: 32px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 840px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
