.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 500;
  padding: 1vw 4vw;
  transition: height 600ms ease-in;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.options {
  display: flex;
  justify-content: space-around;
  min-width: 300px;
}

.options > a,
.options > div,
.options > button {
  margin-left: 20px;
}
.burger {
  display: none;
}

.drawer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: black !important;
}

@media screen and (max-width: 900px) {
  .options {
    display: none;
  }
  .burger {
    display: initial;
  }
}

.info {
  transform: translateY(2px);
}
