.login,
.user {
  height: 2.25em;
  width: 2.5em;
  color: white;

  transition: color 300ms ease-in;
}
.user {
  transform: translateY(-3px);
}
.login {
  transform: translateY(-3px);
}
.login:hover,
.user:hover {
  color: red;
}
.logout {
  all: unset;
}
