.title {
  cursor: pointer;
  color: white;
  display: inline-block;
  font-size: clamp(20px, 2.734vw, 35px);
  height: fit-content;
  margin: 0 auto;
}
.svg {
  width: 0.75em;
  height: 1em;
  vertical-align: baseline;
}
.highlight-red {
  color: red;
}
