.container {
  padding: 2rem 0.5rem;
  display: flex;
  justify-content: space-between;
}
.container p {
  margin-top: 1em;
  text-align: center;
  color: inherit;
  font-weight: 500;
  font-size: 12px;
}
.container button {
  all: unset;
}
.container > div {
  color: white;
  transition: color 300ms ease-in-out;
  margin: 0 auto;
}
.container > div:hover {
  color: red;
}
.order {
  height: 5em;
  width: 5em;
  display: block;
  color: inherit;
}
.link {
  all: unset;
}
