.container {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  color: white;
  background: rgb(27, 30, 98);
  background: linear-gradient(
    90deg,
    rgba(27, 30, 98, 1) 0%,
    rgba(179, 25, 25, 1) 100%
  );
  padding: 6em 1em 1em 1em;
}

.container h2 {
  margin-left: 1em;
  margin-bottom: 1.5em;
  font-size: 32px;
}

.card {
  width: 70%;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 2em;
  background: rgb(27, 30, 98);
  background: linear-gradient(
    90deg,
    rgba(27, 30, 98, 1) 0%,
    rgba(179, 25, 25, 1) 100%
  );
}
