.button {
  display: flex;
  width: fit-content;
  max-width: 200px;
  color: rgb(244, 237, 237);

  background-color: rgb(37, 34, 34);
  font-weight: 500;
  font-size: 1.2em;
  border: solid 2px rgb(121, 116, 116);
  padding: 0.2em 1em 0.1em 0.3em;
  text-align: center;
  transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
}
.button p {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  height: fit-content;
}
.button:hover {
  color: red;
  border-color: red;
}
.svg {
  transform: translateY(-5px);
  width: 1.5em;
  height: 1.5em;
}
