.status {
  height: 5.2em;
  width: 5.2em;
  margin: auto;
  margin-top: 1em;
  text-align: center;
}
@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 0;
  }
}
.multi-ripple {
  width: 5.2rem;
  height: 5.2rem;
  margin: auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.multi-ripple div {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0.6rem solid #c789897b;
  -webkit-animation: 1.5s ripple infinite;
  animation: 1.5s ripple infinite;
}
.multi-ripple div:nth-child(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
